absl-py
annotated-types
asttokens
astunparse==1.6.3
attrs==24.2.0
blinker==1.8.2
Bottleneck
Brotli
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
dgl
exceptiongroup
executing
fastjsonschema==2.21.1
filelock
Flask==3.0.3
flatbuffers
fonttools
fsspec
fst-pso
FuzzyTM
gast
gensim
gmpy2
google-pasta
grpcio
h5py
idna==3.10
igraph
import-ipynb==0.2
importlib_metadata
ipykernel
ipython
itsdangerous==2.2.0
jedi
Jinja2
joblib
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client
jupyter_core
keras
kiwisolver
leidenalg
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl
miniful
ml_dtypes
mpmath
namex
nbformat==5.10.4
nest_asyncio
networkx
nltk
node2vec==0.5.0
numexpr
numpy
opt-einsum
optree
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
ply==3.11
prompt_toolkit
protobuf==4.25.3
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
pyFUME
Pygments
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
pytz
PyYAML
pyzmq
referencing==0.35.1
regex
requests
rich
rpds-py==0.22.3
scikit-learn
scipy
simpful
sip
six
smart-open
stack-data
sympy
tensorboard
tensorboard_data_server
tensorflow
tensorflow_estimator
termcolor
texttable
threadpoolctl
tomli
torch
torchdata
tornado
tqdm
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
Werkzeug==3.0.4
wrapt
zipp
